body, html{
    font-family: Poppins;
}
.src {
    display: flex;
    flex-wrap: wrap-reverse;
    justify-content: center;
    align-items: center;
}
.serc{
    margin-top: 50px;
}
.kiri, .kiri h1 {
    line-height: 4cm;
}

.kanan {
    margin-left: 0px;
    margin-top: 100px;
}

.kanan img {
    width: 100%;
}
.biru{
    color: #0092FF;
}
form{
    line-height: 1cm;
}
button {
    background-color: #0092FF;
    border: none;
    color: white;
    padding: 4px 20px;
    border-radius: 7px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 4px 2px;
    cursor: pointer;
}
.parent-card {
    display: flex;
    margin-top: 4rem;
    flex-wrap: wrap;
    gap: 15px;
    justify-content: center;
    font-family: Poppins;
}
.card {
    display: flex;
    width: 450px;
    padding: 10px;
    border: solid 1px #0092FF;
    background-color: #F0F9FE;
    border-radius: 30px;
    gap: 5px;
    flex-direction: column;
    text-transform: uppercase;
}