{% extends 'base.html' %}
{% load static %}

{% block meta%}
<link rel="stylesheet" href="{% static 'curhat/curhat.css' %}">
{% endblock %}

{% block content %}

<section>
    <h1 class="judul">Curhatkan Unek-Unek Mu Disini</h1>
    <p id="subjudul">Kami menyediakan berbagai fitur yang dapat melepas kejenuhanmu</p>

    <div class="parent-card">
        <div class="card">
            <dix class="form" >
                
                <div class="dari">
                    <h2>Dari </h2>
                    <!-- {% if request.user.username == '' %}
                        <h2>Anonymous</h2>
                    {% else %}
                        <h2>{{ request.user.first_name }}</h2>
                    {% endif %} -->
                    {{ form_curhat.dari }}
                    
                </div>
                {{ form_curhat.isi }}

                {% if request.user.username == '' %}
                    <a class="button center" href="/login/">Login</a>
                {% else %}
                    <button class="button" id="curhatkan">Curhatkan</button>
                {% endif %}
            </div>
        </div>
    </div>

    <div class="parent-card" id="resultBox">
        <div class="card">
            <h2 class="judul">Dari <span class="biru">  </span></h2>
            <p>
                
            </p>
        </div>
    </div>

</section>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<script src="/static/curhat/curhat.js" defer></script>

{% endblock %}