{% extends 'base.html' %}
{% load static %}

{% block meta %}
<link rel="stylesheet" href="{% static 'main/css/lending-page.css' %}">
<link rel="stylesheet" href="{% static 'curhat/curhat.css' %}">
<link rel="stylesheet" href="{% static 'main/css/login.css' %}">
<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
<link rel="stylesheet" href="/resources/demos/style.css">
<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<script>
$( function() {
$( "#tabs" ).tabs();
} );
</script>
<style>
    h2 {
        font-size: large;
        text-align: left;
    }
    p {
        font-size:larger;
        text-align: left;
    }
    img { 
        max-width:100%; 
        height:auto; 
    } 
</style>

{% endblock %}

{% block content %}

<section>
    <div id = "tabs">
        <ul>
            <li><a href="#tabs-1">My Profil</a></li>
            <li><a href="#tabs-2">Extras</a></li>
        </ul>
        <div id="tabs-1">
            <h1 class="title">{{ request.user.username }} <label class="biru">Profile</label></h1>
            <div class="login">
                <div class="login-parent">
                    <h2 style="text-align: center;">Profile Picture</h2>
                    <img src="{{ request.user.additionalusermodel.image_url }}" >
                    <table>
                        <tr>
                            <th><h2>
                                Surename
                            </h2></th>
                            <th><p> 
                                {{ request.user.additionalusermodel.first_name }}
                            </p></th>
                        </tr>
                        <tr>
                            <th><h2>
                                Interest
                            </h2></th>
                            <th><p> 
                                {{ request.user.additionalusermodel.interest }}
                            </p></th>
                        </tr>
                        <tr>
                            <th><h2>
                                Major
                            </h2></th>
                            <th><p> 
                                {{ request.user.additionalusermodel.major }}
                            </p></th>
                        </tr>
                        <tr>
                            <th><h2>
                                University
                            </h2></th>
                            <th><p> 
                                {{ request.user.additionalusermodel.university }}
                            </p></th>
                        </tr>
                        <tr>
                            <th><h2>
                                Year Entry
                            </h2></th>
                            <th><p> 
                                {{ request.user.additionalusermodel.year_of_entry }}
                            </p></th>
                        </tr>
                        <tr>
                            <th><h2>
                                Social Media
                            </h2></th>
                            <th><p> 
                                {{ request.user.additionalusermodel.social_media }}
                            </p></th>
                        </tr>
                    </table>
                </div>
                
            </div>
        </div>
        <div id="tabs-2">
            <form action="" method="POST">
                {% csrf_token %}
                <h1 class="title"><label class="biru">Hai {{ request.user.username }}! </label>Ada apa hari ini?</h1>
                {{ form.ada_apa_hari_ini }}
                <button class="button">submit</button>
            </form>
            
        </div>
       
    </div>
    
</section>

{% endblock %}