{% extends 'base.html' %}
{% load static %}

{% block meta%}
<link rel="stylesheet" href="{% static 'main/css/lending-page.css' %}">
<link rel="stylesheet" href="{% static 'curhat/curhat.css' %}">
<link rel="stylesheet" href="{% static 'main/css/login.css' %}">
{% endblock %}

{% block content %}

<section>
    <h1 class="title">Join with <label class="biru">Findterest</label></h1>
    <div class="login">
        <form class="login-parent" method="POST" action="" href="">
            
            <h2>Register</h2>
            {% csrf_token %}
    
            {{ form.username }}
            {{ form.first_name }}
            {{ form.password1 }}
            {{ form.password2 }}
            <p style="text-align: center;">----------------optional----------------</p>
            {{ form.image_url }}
            {{ form.interest }}
            {{ form.major }}
            {{ form.university }}
            {{ form.year_of_entry }}
            {{ form.social_media }}

            {% for error in form.password2.errors %}
                <p class="">{{ error }}</p>
            {% endfor %}

            {% for error in form.username.errors %}
                <p class="">{{ error }}</p>
            {% endfor %}

            <!-- {% for message in messages %}
                <p style="text-align: center;">{{message}}</p>
            {% endfor %} -->

            <button class="button" type="submit"> Register </button>
    
        </form>
        <p class="register">Have any account? <a href="/login/" class="biru">Login now</a></p>
        </div>
</section>

{% endblock %}