* {
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
}

.judul, #subjudul{
    text-align: center;
}

.parent-card {
    display: flex;
    margin-top: 4rem;
    flex-wrap: wrap;
    gap: 32px;

    justify-content: center;
}

.card {
    display: flex;
    width: 450px;
    padding: 32px;
    border: solid 1px #0092FF;
    background-color: #F0F9FE;
    border-radius: 10px;
    gap: 16px;
    flex-direction: column;
}

.form {
    display: flex;
    width: 100%;
    gap: 16px;
    flex-direction: column;
}

.form input {
    margin-left: 10px;
    width: calc(100% - 68px - 11px);
}

.dari h2{
    display: inline;
}

textarea {
    width: 100%;
    min-height: 200px;
}

.biru {
    color: #0092FF;
}

.center {
    text-align: center;
}
