{% extends 'base.html' %}
{% load static %}

{% block meta%}
<link rel="stylesheet" href="{% static 'jawab/css/jawab.css' %}">
<title>Tambah Jawaban</title>
{% endblock %}
{% block content %}
<section style="margin-top: -50px;">
    <h1>Jawab</h1>
    <p>Jawab pertanyaan dari teman-temanmu disini!</p>
    <div class="bebas">
        <div class="containing">
            <h2  style="color: #0d1d66;">{{ pertanyaan.nama }} <span style="font-weight: normal">bertanya:</span></h2>
            <p>{{ pertanyaan.pertanyaan }}</p>
        </div>
        {% if user.is_authenticated %}
            <div>
                <p id="address">{{id}}</p>
                <p style="color: #0092FF; font-weight: bold;">Nama:</p>
                <div>{{form_peserta.nama }}</div>
                <br>
                <br>
                <p style="color: #0092FF; font-weight: bold;">Jawaban:</p>
                <div>{{form_peserta.jawaban }}</div>
                <br>
                <br>
                <button id="simpan" class="button">Simpan</button>
            </div>
        {% else %}
            <h2 style="font-weight: normal">Maaf, Login dahulu untuk menjawab pertanyaan ini <a href="/login/" style="color: #0092FF;"> | LOGIN SEKARANG</a></h2>
        {% endif %}
    </div>

    <h1>Daftar Jawaban</h1>
    <br>
    <p>Atau cari berdasarkan nama penjawab disini!</p>
    <br>
    <div class="my-searchbox">
        <div class="mb-4">
            <input id="search" class="form-control" type="text" placeholder="Cari dari nama tertentu" aria-label="Search">
        </div>
    </div>
    <br>
    <div class="searching">
    </div>
    <br>
    <p>------- SELURUH JAWABAN ------- <p>
    <div id="card" class="bebas">
    </div>

</section>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="/static/jawab/js/jawab.js"></script>

{% endblock content %}