{% extends 'base.html' %}
{% load static %}

{% block meta %}
    <head>
        <link rel="stylesheet" href="{% static 'tanya/css/tanya.css' %}">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script>
            $(document).ready(function() {
                // $("#tambahpertanyaan").click(function() {
                //     alert("Pertanyaanmu sedang kami proses...");
                // })
                $("#title").hover(function() {
                    $(this).css({'color' : 'blueviolet'});
                })
                $('#formTanya').submit(function() {
                    alert("Pertanyaanmu berhasil ditambah!");
                })
            })
        </script>
    </head>
{% endblock %}

{% block content %}

<section>
    {% if user.is_authenticated %}
    <div id="someHiddenDiv" style="display: none;">
        <h4>
            Pertanyaanmu berhasil ditambah!
        </h4>
    </div>
   <h2 id='title'>{{ title }}</h2>
   <p>Tambahkan pertanyaanmu disini!</p>
   <br>
    <form id="formTanya" method="POST">
        {% csrf_token %}
        <div class="textinput">
            {{ formTanya.nama }}
        </div>
        <br>
        <div class='textarea'>
            {{ formTanya.pertanyaan }}
        </div>
        <br>
        <Button id="tambahpertanyaan" class=button>Tambah Pertanyaan</Button>
    </form>
    {% else %}
    <h2 style="font-weight: normal">Maaf, Login dahulu untuk menanyakan pertanyaanmu - <a href="/login/" style="color: #0092FF;"> LOGIN SEKARANG</a></h2>
    {% endif %}
</section>

{% endblock %}