{% extends 'base.html' %}
{% load static %}

{% block meta%}
<link rel="stylesheet" href="{% static 'main/css/lending-page.css' %}">
{% endblock %}

{% block content %}

<section class="lending1">
    <div id="judul" class="kiri">
        <H1 ><label class="biru" for="">Find </label>friends according to your <label class="biru" for="">Interest</label></H1>
        <p class="anak">Findterest memberikan solusi untuk anda yang kesulitan mencari teman dikala Pandemi. Curahkan segala unek-unek kamu disini tanpa melibatkan identitas. </p>
        <div class="anak">
            <a id="tombol-kanan" class="button" href={% url 'findfriends:searchfriends' %}>find friends</a>
            {% if user.is_authenticated %}
            <a id="tombol-kanan" class="ghost-button" href= {% url 'register:profile' %}>see your profile</a>
            {% else %}
            <a id="tombol-kanan" class="ghost-button" href= "/register/">register</a>
            {% endif %}
        </div>
    </div>

    <div class="kanan">
        <img src="{% static 'main/asset/lending-asset.svg' %}" alt="">
    </div>
</section>

<section class="section2">
    <h1>Our Features</h1>
    <p>Kami menyediakan berbagai fitur yang dapat melepas kejenuhanmu</p>
    <div class="parent-card">
        <div class="card">
            <img src="{% static 'main/asset/card1.svg' %}" alt="">
            <h2>Find Friends</h2>
            <p>Untuk kamu yang sedang sendiri dan butuh teman baru yang menyenangkan untuk menemani keseharianmu</p>
        </div>

        <div class="card">
            <img src="{% static 'main/asset/card2.svg' %}" alt="">
            <h2>Curhat</h2>
            <p>Untuk kamu yang ingin berkeluh kesah</p>
        </div>
        
        <div class="card">
            <img src="{% static 'main/asset/card3.svg' %}" alt="">
            <h2>Tanya Jawab</h2>
            <p>Untuk kamu yang sedang kesulitan mengerjakan tugas maupun yang berbaik hati ingin menjawab kebingungan teman</p>
        </div>
    </div>
</section>

{% endblock %}