{% extends 'base.html' %}
{% load static %}

{% block meta%}
<link rel="stylesheet" href="{% static 'main/css/lending-page.css' %}">
<link rel="stylesheet" href="{% static 'curhat/curhat.css' %}">
<link rel="stylesheet" href="{% static 'main/css/login.css' %}">
{% endblock %}

{% block content %}

<section>
    <h1 class="title">Welcome to <label class="biru">Findterest</label></h1>

    <div class="login">
    <form class="login-parent" method="POST" action="">
        
        <h2>Login</h2>
        {% csrf_token %}

        <input type="text" placeholder="Username" name="username">
        <input type="password" placeholder="Password" name="password">
        {% for message in messages %}
            <p style="text-align: center;">{{message}}</p>
        {% endfor %}
        <button class="button" type="submit">Login</button>

    </form>
    <p class="register">Don't have an account? <a href="/register/" class="biru">Register Now</a></p>
    </div>
</section>

{% endblock %}