.title {
    text-align: center;
}

.login-parent {
    display: flex;
    height: fit-content;
    width: 100%;
    margin: auto;
    margin-top: 32px;
    padding: 32px;
    gap: 16px;
    flex-direction: column;

    background-color: #f0f9fe;

    border: 2px solid #0092ff;
    border-radius: 10px;
}

.login-parent input {
    width: 100%;
}

h2{
    text-align: center;
}

.login {
    width: 500px;
    margin: auto;
}

.register {
    margin-top: 24px;
    
}